#landing_photos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#main_home_photo
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#small_home_photos
{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
