#catering
{
    padding-top: 4%;
    padding-bottom: 10%;
}

#catering .form_holder
{
    width: 60%;
    height: 80vh;
    background-color: #048a81;
    padding: 2%;
    gap: 3%;
    border-radius: 35px;
    box-shadow: -1px 2px 5px rgb(222, 184, 89);
}

.form_holder h1
{
    width: 100%;
    text-align: center;
    color: #ffddfe;
    font-size: 22pt;
}

.form_holder form
{
    width: 100%;
    height: 52%;
    justify-content: space-between;
}

.form_holder input
{
    width: 48.5%;
    text-align: center;
    margin-top: 1%;
    padding: 4px;
    font-size: 12pt;
    border-radius: 50px;
    border-width: 0;
    height: 7%;
}

.form_holder textarea
{
    margin-top: 1%;
    border-radius: 10px;
}

.form_holder #date, #time, #duration
{
    width: 31%;
}

.form_holder #event_title
{
    width: 100%;
}

.form_holder form #description
{
    height: 80%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    resize: none;
    scrollbar-width: thin; 
}

button
{
    height: 10vh;
    width: 30%;
    background-color: #048a81;
    color: #ceffe2;
    border-radius: 20px;
    border-color: #ceffe2;
    font-size: 12pt;
    transition: background-color 1s, color 1s, border-color 1s;
    margin-top: 150px;
}

button:hover
{
    background-color: #ceffe2;
    color: #048a81;
    border-color: #FFDDFE;
}

@media screen and (max-width: 768px) 
{
    #catering 
    {
        padding-top: 35%;
        padding-bottom: 5%;
        width: 100%;
    }

    #catering .form_holder 
    {
        width: 85%;
        height: 70vh;
        padding: 5%;
        
    }

    .form_holder input,
    .form_holder textarea,
    .form_holder select 
    {
        width: 100%;
        text-align: center;
        margin-top: 2%;
    }

    .form_holder #date,
    .form_holder #time,
    .form_holder #duration 
    {
        width: 100%;
        margin-top: 2%;
    }

    .form_holder #event_title 
    {
        width: 100%;
        margin-top: 2%;
    }

    .form_holder form #description 
    {
        height: 10vh;
        border-radius: 0;
        width: 100%;
        resize: vertical;
        text-align: left;
    }

    button 
    {
        height: 50px;
        width: 100%;
        max-width: 200px;
        margin-top: 90px;
    }
}
