header
{
    /* background-color: #A75097; */
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 10vh;
    width: 98vw;
    position: fixed;
    background-image: linear-gradient(180deg, #A75097 80%, #ceffe216 90%, #ceffe200);
    /* box-shadow: 0px 5px 20px #03645e; */
}

header > img
{
    height: 70%;
    width: auto;
    opacity: 0.8;
}

#navbar
{
    gap: 2%;
    width: 20%;
    position: absolute;
    left: 1vw;
    height: 80%;
}

#navbar > .navbar_item
{
    color: #cecece;
    text-decoration: none;
    padding: 3%;
    border-style: solid;
    border-width:  2px;
    border-radius: 3px;
    border-color: #cecece29;
    transition: all 1000ms;
    height: 50%;
}

.navbar_item img
{
    width: 2vw;
    height: auto;
    display: block;
    margin: auto;
}

.navbar_item p
{
    transition: font-size 500ms ease;
    font-size: 0pt;
}



.navbar_item:hover
{
    background-color: #ffddfe;
}

.navbar_item:hover p
{
    transition-property: color, background-color, font-size;
    transition-duration: 1000ms, 5000ms, 500ms;
    color: #048a81;
    background-color: #ffddfe;
    font-size: 12pt;
}

#site_logo
{
    overflow: hidden;
    border-radius: 500px;
    box-shadow:0px 0px 13px 3px #ffddfe;
    transition: width 700ms ease, height 700ms ease, margin-top 700ms ease;
    width: 5.5%;
    height: 105%;
    margin-top: 0;

}

#site_logo:hover
{
    transition: width 700ms ease, height 700ms ease, margin-top 700ms ease;
    width: 7%;
    height: 130%;
    margin-top: 20px;

}

#site_logo > img
{
    height: 140%;
    transition: margin-left 700ms ease, margin-top 700ms ease;
    margin-left: -16px;
    margin-top: -17px;
    width: auto;
}

#site_logo:hover > img
{
    transition: margin-left 700ms ease, margin-top 700ms ease;
    margin-left: -18.5px;
    margin-top: -20px;
}

#cart_link
{
    width: fit-content;
    transition: height 700ms ease, height 700ms ease;
    height: 40%;

    
}


#cart_link > img
{
    height: 100%;
    width: auto;
}


#cart_link:hover
{
    transition-property: height;
    transition-duration: 700ms;
    height: 48%;
}


@media screen and (max-width: 900px)
{

    header
    {
        background-image: none;
        background-color: #A75097;
        height: 10vh;
    }

    .navbar_item
    {
        width: 30%;
        max-height: 35%;
    }

    #navbar
    {
        max-width: 20vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .navbar_item p
    {
        font-size: 0;
        width: fit-content;
    }

    .navbar_item img
    {
        width: 60%;
        height: auto;
    }

    #dial1, #dial2
    {
        display: none;
    }

    #site_logo
    {
        height: 80%;
        width: 15%;
    }

    #site_logo img
    {
        margin-left: -11px;
        margin-top: -12px;
    }

    #site_logo:hover
    {
        transition: all 700ms ease;
        width: 20%;
        height: 110%;
        margin-top: 1%;
    }

    #site_logo:hover img
    {
        transition: all 700ms ease;
        margin-left: -16px;
        margin-top: -15px;
    }

    .navbar_item:hover p
    {
        transition-property: color, background-color, font-size;
        transition-duration: 1000ms, 5000ms, 500ms;
        color: #048a81;
        background-color: #ffddfe;
        font-size: 10pt;
    }
}