#cart
{
    padding-top: 40%;
    padding-bottom: 10%;
}

#cart .form_holder
{
    width: 90%;
    min-height: 100vh;
    background-color: #048a81;
    padding: 1%;
    gap: 3%;
    border-radius: 35px;
    box-shadow: -1px 2px 5px rgb(104, 79, 15);
}

.form_holder h1
{
    width: 100%;
    text-align: center;
    color: #ceffe2;
    font-size: 22pt;
}

.form_holder form
{
    width: 100%;
    height: 52%;
}

.form_holder input
{
    width: 97.5%;
    height: 30px;
    text-align: center;
    margin-top: 1%;
    font-size: 14pt;
}

.form_holder form #email, #phone
{
    width: 48%;
}

.form_holder form #description
{
    height: 75%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 98%;
    resize: none;
    scrollbar-width: thin;
    margin-top: 1%;
}

button
{
    height: 40px;
    width: 90%;
    margin-left: 5%;
    background-color: #048a81;
    color: #ceffe2;
    border-radius: 20px;
    border-color: #ceffe2;
    font-size: 12pt;
    transition: background-color 1s, color 1s, border-color 1s;
    margin-top: 1%;
}

button:hover
{
    background-color: #ceffe2;
    color: #048a81;
    border-color: #FFDDFE;
}

#order_items
{
    max-width: 100%;
}

.order_item
{
    background-color: #ffffff;
    padding: 1%;
    border-radius: 35px;
    margin-bottom: 5px;
    min-width: 30%;
    max-width: 30%;
}

.order_item p
{
    padding: 5px;
    width: 45%;
    min-height: 50px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.p_note
{
    max-width: 100%;
    min-width: 100%;

}

.form_holder h1
{
    text-align: left;
}

.remove_cart_btn
{
    width: 25%;
    margin-right: 70%;
    margin-left: 0;
    background-color: white;
    color: red;
    border-color: red;
}

.remove_cart_btn:hover
{
    background-color: red;
    color: white;
}

.order_item h2
{
    width: 80%;
    margin-right: 0;
}

#tos_holder
{
    text-align: center;
    width: 100%;
    color: #ceffe2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tos_agree
{
    display: inline-block;
    width: 40px;
    height: auto;
}


@media only screen and (max-width: 768px) {
    #cart 
    {
        padding-top: 40%;
        padding-bottom: 5%;
    }

    #cart .form_holder 
    {
        width: 80%;
        padding: 5%;
    }

    .form_holder h1 
    {
        font-size: 16pt;
    }

    .form_holder input
    {
        height: 30px;
        width: 100%;
        font-size: 10pt;
    }

    button 
    {
        height: 30px;
        font-size: 10pt;
    }

    .remove_cart_btn 
    {
        width: 80%;
        margin-left: 35px;
    }

    .form_holder form #email, #phone 
    {
        width: 100%;
    }

    .order_item
    {
        background-color: #ffffff;
        padding: 1%;
        border-radius: 35px;
        margin-bottom: 5px;
        min-width: 100%;
        max-width: 100%;
        min-height: 70vh;
        font-size: 10pt;
    }

    .order_item p
    {
        padding: 0.5px;
        width: 45%;
        min-height: 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}
