header
{
    background-color: #A75097;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 15vh;
    width: 98vw;
    position: fixed;
    box-shadow: 0px 5px 20px #03645e;
}

header > img
{
    height: 70%;
    width: auto;
    opacity: 0.8;
}

#navbar
{
    gap: 10%;
    width: 20%;
    position: absolute;
    left: 1vw;
    height: 80%;
}

#navbar > .navbar_item
{
    color: #cecece;
    text-decoration: none;
    padding: 3%;
    border-style: solid;
    border-width:  2px;
    border-radius: 3px;
    border-color: #cecece29;
    transition: all 1000ms;
    height: 70%;
}

.navbar_item img
{
    width: 2vw;
    height: auto;
    display: block;
    margin: auto;
}



.navbar_item:hover
{
    background-color: #ffddfe;
}

.navbar_item:hover p
{
    transition-property: color, background-color;
    transition-duration: 1000ms, 5000ms;
    color: #048a81;
    background-color: #ffddfe;
}

#site_logo
{
    width: auto;
    height: 100%;


}

#site_logo > img
{
    height: 100%;
    width: auto;
}

#cart
{
    width: fit-content;
    height: 40%;
}


#cart > img
{
    height: 100%;
    width: auto;

}

@media screen and (max-width: 900px)
{

    .navbar_item
    {
        width: 3vw;
    }

    #navbar
    {
        width: 20vw;
    }

    .navbar_item p
    {
        visibility: hidden;
        width: fit-content;
    }

    .navbar_item img
    {
        width: 100%;
        height: auto;
        margin-top: 3vh;
    }

    #dial1, #dial2
    {
        display: none;
    }

    #site_logo
    {
        height: 80%;
        width: auto;
    }
}