#menu
{
    min-height: 180vh;
}

#prices
{
    width: 70%;
    text-align: center;
    margin-top: 20px;
    color:#a75097;
}

.price_img
{
    display: inline-block;
    width: 49%;
    height: auto;
    border-width: 0;
    border-radius: 10px;
}

.menu_holder
{
    margin-top: 1%;
    width: 70%;
    min-height: 60vh;
    padding: 1vh;
}



.menu_holder > ul
{
    list-style: none;
    height: 100%;
    gap: 1%;
}

.menu_item
{
    height: 20vh;
    width: 30%;
    gap: 1%;
    /* margin-top: 50px; */
}

.menu_item div
{
    background-image: linear-gradient(to right, #048a81 1%, #ceffe2 90%, #a75097);
    border-radius: 10px;
    padding: 5%;
    padding-bottom: 0;
    padding-top: 4px;
    height: 70%;
    width: 50%;
    box-shadow: -1px 2px 5px darkslategray;
    
}

.menu_item div h2
{
    color: #ceffe2;
}

.menu_item img
{
    width: 20%;
    height: atuo;
    border-radius: 100px;
    box-shadow: -1px 2px 5px darkslategray;
    background-color: white;
}

.option_holder
{
    width: 100%;
}

.option_holder select, input
{
    width: 30%;
}

.menu_item_options
{
    width: 100%;
    height: auto;
    visibility: hidden;
    color: #ffddfe;
}

.menu_submit
{
    height: 30px;
    width: 30%;
    background-color: #048a81;
    color: #ceffe2;
    border-radius: 20px;
    border-color: #ceffe2;
    font-size: 12pt;
    transition: background-color 1s, color 1s, border-color 1s;
    margin-top: 1%;
}

.menu_submit:hover
{
    background-color: #ceffe2;
    color: #048a81;
    border-color: #FFDDFE;
}

/*Cake Styling*/

#cake_size
{
    width: 5%;
}

#num_tiers
{
    width: 5%;
}

#tier_size
{
    width: fit-content;
}

#num_layers
{
    width: 5%;
}

/*Cupcake Styling*/

#num_cupcakes
{
    width: 10%;
}

.note_area
{
    width: 80%;
    height: 200px;
    box-sizing: border-box;
    display: block;
}

.note_label
{
    width: 100%;
    display: block;
}

.order_spec
{
    margin-left: 5px;
}

@media only screen and (max-width: 1200px) 
{
    #menu 
    {
        min-height: auto; /* Remove minimum height */
        /* background-image: linear-gradient(180deg, #CEFFE2, #FFDDFE); */
    }

    .menu_holder 
    {
        margin-top: 5%;
        width: 100%; /* Adjust width for smaller screens */
        min-height: auto; /* Remove minimum height */
        padding: 0;
    }

    .menu_holder > ul 
    {
        gap: 2vw;
    }

    .menu_item_content
    {
        width: 100%;
    }

    .menu_item
    {
        width: 48%;
        height: 20vh; 
        gap: 1%; 
        padding-right: 0;
    }

    .menu_item h2
    {
        font-size: 12pt;
    }

    .menu_item div
    {
        width: 62%;
        padding: 4px;
        /* min-height: 70px; */
    }

    .menu_item img {
        width: 30%; /* Adjust image width */
        height: auto; /* Let height adjust automatically */
        border-radius: 50%; /* Circular border radius */
    }

    .menu_submit {
        width: 50%; /* Adjust width */
    }

    label
    {
        display: inline-block;
        font-size: 10pt;
        /* min-width: 80vw; */
    }

    .note_label,
    .order_spec 
    {
        width: 35%; /* Adjust width to fill container */
        font-size: 8pt;
        margin-left: 5px; /* Remove left margin */
    }

    #num_layers,
    #num_tiers,
    #cake_size
    {
        width: 10%;
    }

    .note_area
    {
        height: 15vh;
        width: 80%;
    }

    #menu_list
    {
        width:90%;
    }
}

