html
{

    width: 100vw;
    height: 100%;
}

body
{
    width: 100%;
    height: 100%;
}


.page_content
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;
    padding-bottom: 16vh;
    gap: 5%;
    background-image: url("../images/profile_images/border.png"), linear-gradient(180deg, #CEFFE2, #FFDDFE);
    background-position: center;
    background-size: 100% 130%;
    overflow: hidden;
}