{% extends 'header.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/catering_style.css' %}">
<link rel="stylesheet" href="{% static 'layouts/catering_layout.css' %}">

<section id="catering" class="page_content">
    <div class="form_holder">
        <h1> Plan an Event </h1>
        <form action="" method="POST" id="catering_form">
            <input id="first_name" name="First Name" type="text" placeholder="First" form="catering_form" required>
            <input id="last_name" name="Last Name" type="text" placeholder="Last" form="catering_form" required>
            <input id="email" name="Email" type="text" placeholder="Email: example@domain.com" form="catering_form" required>
            <input id="phone" name="Phone" type="tel" placeholder="Phone: 123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" form="catering_form">
            <input id="date" name="Date" type="date"form="catering_form" required>
            <input id="time" name="Time" type="time" placeholder="Event Time" form="catering_form" required>
            <input id="duration" name="Duration" type="text" placeholder="Event Duration" form="catering_form" required>
            <input id="count" name="Headcount" type="text" placeholder="Event Headcount" form="catering_form" required>
            <input id="dress" name="Dress Code" type="text" placeholder="Dress Code" form="catering_form">
            <input id="event_title" name="Event Title" type="text" placeholder="What is your event called?" form="catering_form" required>
            <textarea id="description" name="Details" type="text" placeholder="What's for dessert? (Let us know what you need. Please note any allergies or dietary considerations here, as well as any other information which may be helpful.)" form="catering_form" required></textarea>
            <button id="submit_req" type="submit"> Submit </button>
        </form>
    </div>
</section>

{% endblock %}