
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'fonts/font.css' %}">
        <link rel="stylesheet" href="{% static 'styles/universal_style.css' %}">
        <link rel="stylesheet" href="{% static 'layouts/universal_layout.css' %}">
        
        <!--navbar sheets-->
        <link rel="stylesheet" href="{% static 'layouts/header_layout.css' %}">
        <link rel="stylesheet" href="{% static 'styles/header_style.css' %}">

        <!--landing photo sheets-->
        <link rel="stylesheet" href="{% static 'styles/landing_photo_style.css' %}">
        <link rel="stylesheet" href="{% static 'layouts/landing_photo_layout.css' %}">
    </head>
    <body>
        <header>
            <nav id="navbar">
                <a class="navbar_item" href="{% url 'index' %}">
                    <img src="{% static 'icons/universal_icons/bakery-home.png' %}"> 
                    <p> Home </p>               
                </a>
                <a class="navbar_item" href="{% url 'menu' %}"> 
                    <img src="{% static 'icons/universal_icons/bakery-menu.png' %}">
                    <p> Menu </p>
                </a>
                <a class="navbar_item" href="{% url 'requests' %}"> 
                    <img src="{% static 'icons/universal_icons/bakery-request.png' %}">
                    <p> Request </p> 
                </a>
                <a class="navbar_item" href="{% url 'catering' %}"> 
                    <img src="{% static 'icons/universal_icons/bakery-catering.png' %}">
                    <p> Catering </p> 
                </a>
                <a class="navbar_item" href="{% url 'profile' %}"> 
                    <img src="{% static 'icons/universal_icons/bakery-profile.png' %}">
                    <p> Profile </p> 
                </a>
            </nav>
            <a id="site_logo" href="{% url 'index' %}"> <img src="{% static 'images/universal_images/site-logo.png' %}"> </a>
            <a id="cart" href=""> <img src="{% static 'icons/universal_icons/cupcart.png' %}"> </a>
            <img id="dial1" src="{% static 'icons/universal_icons/dial-myrtle.png' %}">
            <img id="dial2" src="{% static 'icons/universal_icons/dial-myrtle.png' %}">
        </header>

        {% block content %}
        {% endblock %}
    </body>
</html>
