{% extends 'header.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'styles/menu_style.css' %}">
<link rel="stylesheet" href="{% static 'layouts/menu_layout.css' %}">

<section id="menu" class="page_content">
    <div id="prices">
        <h2>Pricing Guidlines</h2>
        <p>These prices are estimates and will vary based on the specifics of your order<br>(If anything is missing from the menu, put in a request at the bottom!)</p>
        <img class="price_img" src="{% static 'images/menu_images/cake_cupcake_price.jpeg' %}">
        <img class="price_img" src="{% static 'images/menu_images/other_prices.jpeg' %}">
    </div>
    <div id= menu_holder class="menu_holder">
        <ul id="menu_list">

        </ul>
    </div>


</section>
<script>
    let menu_data = "{{ menu_data|escapejs }}";
    let img_urls = {
        "Cakes" : "{% static 'images/menu_images/cake1.jpg' %}",
        "Cupcakes" : "{% static 'images/menu_images/cupcakes.jpg' %}",
        "Dipped Dessertz" : "{% static 'images/menu_images/dippeddessert.jpg' %}",
        "Other Dessertz" : "{% static 'images/menu_images/otherdessert.jpg' %}",
        "Something else?" : "{% static 'icons/home_icons/question_icon.png' %}"
    };

    let csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'scripts/menu.js' %}"></script>

{% endblock %}