#menu
{
    min-height: 150vh;
}

.menu_holder
{
    margin-top: 5%;
    width: 60%;
    min-height: 120vh;
    padding: 1vh;
}

.menu_holder > ul
{
    list-style: none;
    height: 100%;
    gap: 15vh;
}

.menu_item
{
    height: 20vh;
    gap: 4%;
}

.menu_item div
{
    background-image: linear-gradient(to right, #048a81 1%, #ceffe2 90%, #a75097);
    border-radius: 10px;
    padding: 2%;
    height: 70%;
    width: 70%;
    box-shadow: -1px 2px 5px darkslategray;
    
}

.menu_item div h2
{
    color: #ceffe2;
}

.menu_item img
{
    width: 20%;
    height: atuo;
    border-radius: 100px;
    box-shadow: -1px 2px 5px darkslategray;
}

.option_holder
{
    width: 100%;
}

.option_holder select, input
{
    width: 30%;
}

.menu_item_options
{
    width: 100%;
    height: auto;
    visibility: hidden;
    color: #ffddfe;
}

/*Cake Styling*/

#cake_has_filling
{
    width: auto;
}

#num_tiers
{
    width: 5%;
}

#tier_size
{
    width: fit-content;
}

#num_layers
{
    width: 5%;
}

/*Cupcake Styling*/
#cupcake_has_filling
{
    width: auto;
}

#num_cupcakes
{
    width: fit-content;
}